.type-sidelines {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.type-sidelines span {
    display: inline-block;
    position: relative;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.type-sidelines span::before,
.type-sidelines span::after {
    content: '';
    position: absolute;
    height: 100%;
    /* stylelint-disable-next-line unit-allowed-list */
    width: 9999px;
    top: 50%;
    border-top-style: solid;
    /* stylelint-disable-next-line unit-allowed-list */
    border-top-width: 1px;
}

.type-sidelines span::before {
    right: 100%;
}

.type-sidelines span::after {
    left: 100%;
}

.double {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.double span {
    display: inline-block;
    position: relative;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.double span::before,
.double span::after {
    content: '';
    position: absolute;
    height: 100%;
    /* stylelint-disable-next-line unit-allowed-list */
    width: 9999px;
    top: 50%;
    border-top-style: solid;
    /* stylelint-disable-next-line unit-allowed-list */
    border-top-width: 1px;
    border-bottom-style: solid;
    /* stylelint-disable-next-line unit-allowed-list */
    border-bottom-width: 1px;
    margin-top: -0.25em;
}

.double span::before {
    right: 100%;
}

.double span::after {
    left: 100%;
}

.custom {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.custom span {
    display: inline-block;
    position: relative;
    /* stylelint-disable-next-line unit-allowed-list */
    padding-left: 20px;
    /* stylelint-disable-next-line unit-allowed-list */
    padding-right: 20px;
}

.custom span::before,
.custom span::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    /* stylelint-disable-next-line unit-allowed-list */
    border-top: 4px dotted #2980b9;
    /* stylelint-disable-next-line unit-allowed-list */
    margin-top: -2px;
}

.custom span::before {
    right: 100%;
}

.custom span::after {
    left: 100%;
}

.custom-2 {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.custom-2 span {
    display: inline-block;
    position: relative;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.custom-2 span::before,
.custom-2 span::after {
    content: '';
    position: absolute;
    height: 100%;
    /* stylelint-disable-next-line unit-allowed-list */
    width: 9999px;
    top: 50%;
    /* stylelint-disable-next-line unit-allowed-list */
    border-top: 4px solid #27ae60;
    /* stylelint-disable-next-line unit-allowed-list */
    margin-top: -2px;
}

.custom-2 span::before {
    right: 100%;
}

.custom-2 span::after {
    left: 100%;
}