---
import chunk from 'lodash/chunk';

import CertificationData from "./data/Certifications.json";
import Certification from "./Certification.astro";

const certifications = chunk(CertificationData.certifications, CertificationData.per_row);
---

{
    certifications.map((row) => (
        <div class="cell auto wrapper-certs">
            {row.map((cert) => (
                <Certification
                    id={cert.id}
                    name={cert.name}
                    url={cert.url}
                />
            ))}
        </div>
    ))
}