<div class="grid-container" id="education">
    <hr />
    <h1 class="text-center">Education</h1>
    <dl class="text-center">
        <dt>North Carolina State University</dt>
        <dd>Bachelors in Computer Science</dd>
        <dt>Wake Technical Community College</dt>
        <dd>College Transfer</dd>
    </dl>
</div>
