<div class="grid-x" id="footer">
    <div class="cell text-center">
        Designed using <a href="https://foundation.zurb.com/">Foundation</a> and
        <a href="https://fontawesome.com/license">Font Awesome</a>
    </div>
</div>