---
import Twitter from "./icons/Twitter.astro";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Blog from "./icons/Blog.astro";
import Mail from "./icons/Mail.astro";
import Certifications from "./Certifications.astro";
---

<div
    class="off-canvas position-left reveal-for-medium"
    id="my-info"
    data-off-canvas
>
    <div class="grid-y grid-padding-x" id="wrapper-info">
        <br />
        <div class="cell shrink text-center" id="wrapper-headshot">
            <img
                src="/img/headshot.png"
                alt="Photo of Patrick Connelly"
                height="200"
                width="200"
            />
        </div>
        <div class="cell auto">
            <h4>Patrick Connelly</h4>
            <p>Salesforce and Open Source Developer</p>
            <div class="cell auto" id="wrapper-presentations">
                <a href="/presentations/" class="button expanded secondary"
                    >Presentations</a
                >
            </div>
            <Certifications />
            <div class="cell auto" id="wrapper-contact">
                <h4>Contact Me</h4>
                <p>
                    While not currently looking for new work, I'd love to meet
                    other Opensource developers and love to help out the
                    community. Feel free to connect with me on the social media
                    platform of your choice
                </p>
                <div class="grid-x">
                    <div class="cell auto">
                        <a
                            href="https://twitter.com/aelst"
                            aria-label="Twitter"
                        >
                            <Twitter />
                        </a>
                    </div>
                    <div class="cell auto">
                        <a href="https://github.com/pcon" aria-label="Github">
                            <Github />
                        </a>
                    </div>
                    <div class="cell auto">
                        <a
                            href="https://www.linkedin.com/pub/patrick-connelly/28/6b3/b56/"
                            aria-label="Linkedin"
                        >
                            <LinkedIn />
                        </a>
                    </div>
                    <div class="cell auto">
                        <a
                            href="http://blog.deadlypenguin.com/blog/"
                            aria-label="Blog"
                        >
                            <Blog />
                        </a>
                    </div>
                    <div class="cell auto">
                        <a
                            href="mailto:patrick@connelly.dev"
                            aria-label="Email"
                        >
                            <Mail />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
