---
import '../styles/timeline.css';

import RedHat from './icons/RedHat.astro';
import GradCap from './icons/GradCap.astro';
---
<h1 class="text-center">Timeline</h1>
<div class="timeline">
    <div class="timeline-item">
        <div class="timeline-icon">
            <RedHat />
        </div>
        <div class="timeline-content left">
            <p class="timeline-content-who">Red Hat</p>
            <p class="timeline-content-date">2009 &mdash; Present</p>
            <h2 class="h5">Principal Software Engineer</h2>
            <p>
                Leads a team of Salesforce developers working on a Service Cloud
                implementation that started in 2009. Primary responsibilities
                include architecting solutions for business problems,
                implementing the solutions and developing tooling to help
                automate various processes.
            </p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-icon">
            <RedHat />
        </div>
        <div class="timeline-content right">
            <p class="timeline-content-who">Red Hat</p>
            <p class="timeline-content-date">2008 &mdash; 2009</p>
            <h2 class="h5">Training Manager</h2>
            <p>
                In charge of developing new training for Support Delivery and
                providing training and certification exams for new hires. This
                included an intensive 6 week in-person training course that
                facilitated new hires in passing the <abbr
                    title="Red Hat Certified Engineer">RHCE</abbr
                > exam.
            </p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-icon">
            <GradCap />
        </div>
        <div class="timeline-content left">
            <p class="timeline-content-who">Wake Tech</p>
            <p class="timeline-content-date">2009</p>
            <h2 class="h5">Adjunct Professor</h2>
            <p>
                Instructed a semester long Introduction to C class taught for
                Red Hat associates. This was a weekly course that included 2
                hour in person instruction, exams and weekly programming
                assignments.
            </p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-icon">
            <RedHat />
        </div>
        <div class="timeline-content right">
            <p class="timeline-content-who">Red Hat</p>
            <p class="timeline-content-date">2006 &mdash; 2008</p>
            <h2 class="h5">Support Technician</h2>
            <p>
                Provided front-line and tier two support for Red Hat products to
                external customers. Primarily focused on developer support, Red
                Hat Satellite, Red Hat Proxy, Red Hat Network and installation
                issues.
            </p>
        </div>
    </div>
</div>
